// #5 Import of Fonts and _responsive.scss
@import "fonts";
@import "responsive";

// #2 structuration html with metas and grid css
html {
  background: url(../assets/img/stars.png) center center repeat;
  background-size: 30vw;
}

header {
  width: 100vw;
}

body {
  background-color: transparent;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

footer {
  width: 100vw;
  height: 56px;
  background-color: rgb(165, 128, 42);
  margin-top: 30rem;
}

h1 {
  color: white;
  font-size: clamp(6px, 3.5vw, 2.1rem);
}

.navbar-toggler {
  border: none;
  box-shadow: none;
}

.navbar {
  background-color: black;
  width: 100%;
  padding: 0;

  &__div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    background: linear-gradient(
        120deg,
        #1860bd 13.53%,
        rgba(24, 150, 204, 0.1) 35.84%,
        rgba(24, 204, 204, 0.025) 43.81%
      ),
      linear-gradient(
        60deg,
        rgba(24, 204, 204, 0.025) 60.5%,
        rgba(18, 218, 135, 0.1) 67.34%,
        #0a9205 92.72%
      );
    text-align: center;
    border-radius: 0 0 0.2rem 0.2rem;
    -webkit-border-radius: 0 0 0.2rem 0.2rem;
    -moz-border-radius: 0 0 0.2rem 0.2rem;
    -ms-border-radius: 0 0 0.2rem 0.2rem;
    -o-border-radius: 0 0 0.2rem 0.2rem;
  }

  &__ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: center;
    background: radial-gradient(
      50% 3% at 50% 1%,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &__svg {
    height: auto;
    width: clamp(1rem, 20vw, 5.8rem);
    margin: 0px;
    padding: 0px;
    filter: blur(0.6px);
    -webkit-filter: blur(0.6px);
  }
}

.show {
  overflow: hidden;
}

.menus {
  position: relative;
  min-width: 100vw;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0px;
  background: radial-gradient(
    60% 1% at 50% 100%,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  );

  &__list {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    background: radial-gradient(
        20% 1% at 50% 100%,
        #ffffff 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      radial-gradient(10% 1% at 50% 0%, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }

  &__svg {
    max-height: 160px;
    margin: 0px -70px 30px -90px;
  }

  &__list a {
    color: rgb(255, 255, 255);
    font-family: "hnt-medium";
  }

  &__list .nav-item {
    font-size: clamp(2.7vw, 3vw, 4rem);
    margin: clamp(5px, 0.4vw, 1.3rem) 0px;
  }

  &__list a:hover {
    color: rgb(0, 0, 0);
  }

  &__list .nav-item:hover {
    background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0%,
      #ffffff 49.65%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  &__list .nav-item:nth-child(2) {
    background: transparent;
  }
}

// button dropdown mobile

.but {
  position: relative;
  box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.669),
    inset 0px 0px 2.5px 0px rgba(255, 255, 255, 0.64);
  border-radius: 73.5px;
}

.but::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 73.5px;
  padding: 1.6px;
  background: radial-gradient(
      100% 330.61% at 0% 100%,
      #1860bd,
      rgba(0, 0, 0, 0),
      #1b7a18
    ),
    linear-gradient(
      270.04deg,
      rgba(255, 255, 255, 0) 23.44%,
      rgba(255, 255, 255, 0) 29.88%,
      rgba(255, 255, 255, 0.35) 39.13%,
      #ffffff 46.09%,
      #ffffff 57.01%,
      rgba(255, 255, 255, 0.35) 65.11%,
      rgba(255, 255, 255, 0) 72.43%,
      rgba(255, 255, 255, 0) 80.23%
    );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-border-radius: 73.5px;
  -moz-border-radius: 73.5px;
  -ms-border-radius: 73.5px;
  -o-border-radius: 73.5px;
}

// button dropdown mobile

// Video created by myself added

.video-wrapper {
  background-color: transparent;
  position: relative;
  padding-bottom: 56.25%;
  /*proportion 16:9*/
  height: auto;
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}
// Video created by myself added

// the interaction and aspect with menu navbar
.nav-link:focus,
.nav-link:hover {
  color: rgba(255, 255, 255, 0.9);
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
  box-shadow: 0px 0px 11px 0px rgba(255, 255, 255, 0.669);
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: rgb(219, 255, 0);
}
// the interaction and aspect with menu navbar

// sec-2 playstation with Joel
.playstation {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  width: 100vw;
  height: auto;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0rem 6.75rem 3rem 0.6875rem #000000,
    inset 0.125rem 0rem 3.75rem 0.3125rem #000000,
    inset -0.125rem 0rem 3.75rem 0.3125rem #000000;
  position: relative;

  &__h2 {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: clamp(8px, 3vw, 2rem);
    line-height: clamp(20px, 4vw, 5vw);
    letter-spacing: clamp(5px, 3.3vw, 4.5rem);
    text-align: center;
    color: white;
    text-shadow: 0px 0px 30px rgb(255, 255, 255);
    padding: 0 1.8rem;
  }

  &__h2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      30% 1.8% at 50% 90%,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );
    background-blend-mode: hard-light;
    margin-top: clamp(5px, 3vw, 2rem);
  }

  &__wrapper {
    padding-top: 3rem;
    width: 100vw;
  }

  &__wrapper > img {
    height: 160%;
    width: 114%;
    mix-blend-mode: color-dodge;
  }

  &__joel {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
  }

  &__joel > img {
    align-self: flex-end;
    filter: saturate(77%);
    transform: scaleX(1.09) scaleY(0.97);
    -webkit-transform: scaleX(1.09) scaleY(0.97);
    -moz-transform: scaleX(1.09) scaleY(0.97);
    -ms-transform: scaleX(1.09) scaleY(0.97);
    -o-transform: scaleX(1.09) scaleY(0.97);
    -webkit-filter: saturate(77%);
    padding-left: 1.5625rem;
    width: min(400px, 67%);
  }
}

.playstation::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-shadow: inset 0px -77px 48px 0px #000000;
}
// sec-2 playstation with Joel

// sec-3 xbox with Marcus Phoenix
.xbox {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  width: 100vw;
  height: auto;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0rem 6.75rem 3rem 0.6875rem #000000,
    inset 0.125rem 0rem 3.75rem 0.3125rem #000000,
    inset -0.125rem 0rem 3.75rem 0.3125rem #000000;
  position: relative;

  &__h2 {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: clamp(8px, 3vw, 2rem);
    line-height: clamp(20px, 4vw, 5vw);
    letter-spacing: clamp(5px, 3.3vw, 4.5rem);
    text-align: center;
    color: white;
    text-shadow: 0px 0px 30px rgb(255, 255, 255);
    padding: 0 1.8rem;
  }

  &__h2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      30% 1.8% at 50% 90%,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );
    background-blend-mode: hard-light;
    margin-top: clamp(5px, 3vw, 2rem);
  }

  &__wrapper {
    padding-top: 3rem;
    width: 100vw;
  }

  &__wrapper > img {
    height: 160%;
    width: 114%;
    mix-blend-mode: color-dodge;
  }

  &__marcus {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120%;
    display: flex;
    justify-content: end;
    padding-right: 1.5625rem;
  }

  &__marcus > img {
    align-self: end;
    filter: saturate(90%);
    transform: scaleX(-1.09) scaleY(1.1);
    -webkit-transform: scaleX(-1.09) scaleY(1.1);
    -moz-transform: scaleX(-1.09) scaleY(1.1);
    -ms-transform: scaleX(-1.09) scaleY(1.1);
    -o-transform: scaleX(-1.09) scaleY(1.1);
    -webkit-filter: saturate(90%);
    width: min(400px, 67%);
  }
}

.xbox::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-shadow: inset 0px -77px 48px 0px #000000;
}
// sec-3 xbox with Marcus Phoenix

// Sec-4 carousel Bootstrap modified, xbox incoming games

.carousel {
  height: auto;
  position: relative;
  padding-top: clamp(25px, 10vw, 2rem);
  position: relative;
}

.carousel::before {
  position: absolute;
  content: "";
  top: 0;
  width: 100vw;
  padding-top: clamp(25px, 10vw, 2rem);
  background: radial-gradient(
    25% 7.8% at 50% 50%,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-blend-mode: hard-light;
  background-color: black;
}

.carousel-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0.808108) 11.28%, rgba(0, 0, 0, 0.557881) 19.23%, rgba(0, 0, 0, 0.24) 29.26%, rgba(0, 0, 0, 0) 58.6%, rgba(0, 0, 0, 0) 100%), linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.435443) 14.15%, rgba(0, 0, 0, 0) 24.75%, rgba(0, 0, 0, 0) 100%);
}

.carousel-caption {
  z-index: 5;
  width: auto;
  height: clamp(67px, 20vw, 7rem);
}

.carousel-caption img {
  width: auto;
  height: min(100px, 100%);
  filter: drop-shadow(0px 0px 1rem #00f018);
  -webkit-filter: drop-shadow(0px 0px 1rem #00f018);
}

.carousel-caption img:nth-child(2) {
  margin-bottom: clamp(2.5px, 3vw, 1.5rem);
  margin-top: clamp(2.5px, 3vw, 1.5rem);
}

// fixing size of disproportionate images as captions
.carousel-item:nth-child(1) > .carousel-caption > img:nth-child(2) {
  height: min(200px, 90%);
}

.carousel-item:nth-child(2) > .carousel-caption > img:nth-child(2) {
  height: min(200px, 120%);
}

.carousel-item:nth-child(3) > .carousel-caption > img:nth-child(2) {
  height: min(200px, 70%);
}

.carousel-item:nth-child(4) > .carousel-caption > img:nth-child(2) {
  height: min(200px, 80%);
}

.carousel-item:nth-child(5) > .carousel-caption > img:nth-child(2) {
  height: min(200px, 120%);
}
// fixing size of disproportionate images as captions

// fixing indicator lines from carousel to replace lines by images

.image-indicators {
  padding: clamp(16px, 10vw, 5rem) clamp(2px, 1.4vw, 0.3rem);
  width: 100vw;
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.87) 35.73%, rgba(0, 0, 0, 0.765797) 51.87%, rgba(0, 0, 0, 0.585446) 67.5%, rgba(0, 0, 0, 0.379039) 78.96%, rgba(0, 0, 0, 0.200778) 88.85%, rgba(0, 0, 0, 0) 100%);
  
}

.image-indicators .indicator {
  display: inline-flex;
  align-items: center;
  transition: 0.9s;
  border: none;
  justify-content: space-evenly;
}

.image-indicators .indicator > img {
  height: auto;
  width: min(60px, 67%);
  margin: 0px clamp(4px, 0.8vw, 1.7rem);
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  box-shadow: 0rem 0rem 0.5rem #ffffff;
  transition: all 0.9s ease-in-out;
  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -ms-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  opacity: 0.63;
  outline: 0.1px solid rgba(255, 255, 255, 0);
  background-color: white;
}

.indicator:hover > img {
  transform: scale(1.5) translateY(0.2rem);
  -webkit-transform: scale(1.5) translateY(0.2rem);
  -moz-transform: scale(1.5) translateY(0.2rem);
  -ms-transform: scale(1.5) translateY(0.2rem);
  -o-transform: scale(1.5) translateY(0.2rem);
  box-shadow: 0rem 0rem 0.030rem #45be19, 0rem 0rem 1.125rem #45dd0e;
  opacity: 1;
  outline: 0.0625rem solid white;
  background-color: transparent;
}

// fixing indicator lines from carousel to replace lines by images

// Sec-4 carousel Bootstrap modified, xbox incoming games
